// Mixins
@import "normalize.css"
@import "buttons.css"

background-rgba(r, g, b, a)
  // rgba with fallback to rgb
  background-color: rgb(r, g, b)
  background-color: rgba(r, g, b, a)

// Main
body
  background: url("/img/bgnoise_lg.png")

a:link, a:visited
  color: #90f
a:link.cta, a:visited.cta
  color: white

#main
  margin-left: auto
  margin-right: auto
  min-width: 240px
  .clock
    font-size: 48px
    text-align: center
  .elapsed
    font-size: 24px
  .meeting-start
    text-align: center
  .buttonrow
    text-align: center
  .export
    font-family: monospace
  div.graphview
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    .labels, .lines
      text-align: right
      float: left
  .about
    max-width: 33em
    margin-left: auto
    margin-right: auto
  a.activate
    width: 83%
    text-align: center
  input[name=category]
    width: 150px
  input[name=elapsed]
    width: 50px

#footer
  clear: both
  text-align: center

//
// Mobile first
//
#main
  min-width: 320px
  margin-left: auto
  margin-right: auto
  padding: 0em
  a.activate
    width: 238px
.clock
  display: none
.cta
  padding-left: 5px
  padding-right: 5px
  height: 40px
  line-height: 40px
#footer 
  padding-top: none
  margin-top: none
  .cta 
    margin-left: -2px
    margin-right: -2px
    font-size: 12px

@media only screen and (min-width: 640px)
  #main
    width: 600px
    margin-left: auto
    margin-right: auto
    padding: 1em
  #footer
    margin-top: 1em
    padding-top: 1em
    .cta
      font-size: 16px
      margin-left: 0px
      margin-right: 0px
  .cta
    height: 50px
    line-height: 50px
  .buttonrow
    width: 50%
    float: left
    text-align: center
  .clock
    display: block
